@import "tailwindcss";


@keyframes anim-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: anim-marquee 25s forwards infinite;
  display: flex;
  width: fit-content;
}